
.sc_list {
	padding: 0;
	margin: 5px 0 5px 0px;
	overflow: hidden;
	/*border-bottom: 1px solid #f8f8f8;
		    border-top: 1px solid #f8f8f8;*/
	background: #fff;
}

.sc_list li {
	list-style: none;
	float: left;
	width: 100%;
	padding: 5px 0 5px 10px;
	border-bottom: 1px solid #efefef;
}

.fl {
	float: left;
}

.goods-img {
	margin-top: 5px;
	height: 55px;
	width: 55px;
	text-align: center;
}

.goods-img img {
	height: 50px;
	width: 50px;
}

.sc_list .goods-info {
	width: 60%;
	padding-left: 5px;
}

.sc_list .goods-info .title {
	overflow: hidden;
	width: 95%;
	/*white-space: nowrap;*/
	color: #333;
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	word-break: break-word;
	line-height: 18px;
}

.sc_list .goods-info p {
	padding: 2px;
	margin: 0;
	line-height: 18px;
}

.fr {
	float: right;
}

.weight {
	font-size: 13px;
}

.price,#order_amount {
	color: #ff6633 !important;
	font-size: 13px;
}


.price-num {
	position: absolute;
	right: 10px;
	text-align: right;
}

.amout-list {
	background: #fff;
	padding: 10px;
	margin: 5px 0;
}

.amout-list p {
	line-height: 14px;
	color: #333;
	border-bottom: 1px dashed #ddd;
	padding: 6px 0;
	width: 100%;
	margin: 0;
}

.amout-list p span {
	min-width: 50%;
	display: inline-block;
	vertical-align:text-top;
	color: #4e5e71;
	font-size: 14px;
	padding: 0 10px;
}
.amout-list p span:last-child{
	text-align: right;
	-webkit-user-select: text;
	/*color: #333;*/
}
.bold-title{
	font-weight: bold;
	font-size: 14px;
	padding: 5px 10px !important;
	border-bottom: 1px solid #eee !important;
}

.user-address {
	padding: 5px 10px;
	min-height: 60px;
	background: #fff;
}

.user-address .user {
	width: 100%;
	padding: 5px 10px;
	display: inline-block;
}

.user-address .icon {
	width: 15%;
	display: inline-block;
	position: absolute;
	line-height: 55px;
	text-align: right;
	color: #999;
}

.user-address .icon .mui-icon {
	font-size: 14px;
}

.user-address p {
	margin: 5px 0;
	color: #333;
	line-height: 18px;
}

.user-address .name {
	float: left;
}

.user-address .phone {
	text-align: right;
	float: right;
}

.user-address .address {
	float: left;
	width: 100%;
}
#note,#describe{
	font-size: 14px;
	border: none;
	padding:5px 10px ;
}

#btns{
	margin: 10px 0;
	text-align: center;
}
#btns .mui-btn{
	padding: 5px;
	margin: 0 2px;
}
#no-content{
	margin: 10px 0;
	text-align: center;
	font-size: 16px;
}
#no-content img{
	max-width: 20%;
}
.comment-order{
	color: #FF5053;
	border-color: #FF5053;
}
.mui-btn-success{
	color: #fff;
	border-color: #41CEA9;
	background-color:#41CEA9 ;
}
.mui-btn-nav{
	color: #FF5053;
	border-color: #FF5053;
}
.is-return{
	/*background: #ddd ;*/
}
.is-return span,.is-return p{
	color: #999 !important;
}